<form class="" action="/tweets/:id/edit" method="post">

  <p>Tweet Content: </p>
  <p> <%= @tweet.content %> </p>

  <label>Edit Tweet Content: </label>
  <textarea name="content" rows="8" cols="80"></textarea>
  <p><input type="submit" valu="Submit" id="submit"></p>

</form>
